<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Book Your Flight</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='book_flight_styles.css') }}">
</head>

<body>
    <header>
        <div class="logo"> Book Seats </div>
        <div class="nav-buttons">
            <button onclick="window.location.href='{{ url_for('dashboard') }}'">Go Back</button>
        </div>
    </header>

    <div class="selected-flight-container">
        <div class="info-header">Here is your selected flight info</div>
        <div class="route-box">
            {% for flight in selected_route %}
            <div class="flight-info">
                <div class="flight-details">
                    <p class="flight-number">Flight Number: {{ flight[1] }}</p>
                    <p><strong>Aircraft:</strong> {{ flight[2] }}</p>
                    <p><strong>Airline:</strong> {{ flight[3] }}</p>
                </div>
                <div class="flight-details">
                    <p><strong>From:</strong> {{ flight[4] }}</p>
                    <p><strong>To:</strong> {{ flight[5] }}</p>
                </div>
                <div class="flight-details">
                    <p><strong>Departure:</strong> {{ flight[6] }}</p>
                    <p><strong>Arrival:</strong> {{ flight[7] }}</p>
                </div>
                <div class="flight-details">
                    <p><strong>Price:</strong> ${{ flight[8] }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <form method="POST" action="{{ url_for('book_flight') }}">
        <input type="hidden" name="selected_flight" value="{{ request.args.get('selected_flight') }}">

        <div class="passenger-info-container">
            <h2>Passenger Information</h2>
            {% for i in range(num_passengers) %}
                <div class="passenger-form">
                    <h3>Passenger {{ i + 1 }}</h3>
                    <label for="name_{{ i }}">Name:</label>
                    <input type="text" name="name_{{ i }}" required><br>
                    
                    <label for="ssn_{{ i }}">Social Security Number:</label>
                    <input type="text" name="ssn_{{ i }}" required><br>
                    
                    <label for="phone_number_{{ i }}">Phone Number:</label>
                    <input type="text" name="phone_number_{{ i }}" required><br>

                    <label for="email_{{ i }}">Email:</label>
                    <input type="email" name="email_{{ i }}" required><br>

                </div>
            {% endfor %}
        </div>

        <button type="submit">Confirm Booking</button>
    </form>

</body>

</html>
