<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content = "IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="wrapper">
        <form method="POST" action="{{ url_for('login') }}">
            <h1>Login</h1>
            {{ form.hidden_tag() }}
            <div class="input-box">
                {{ form.email(placeholder="Email", required="required") }}
                <i class='bx bxs-user'></i>
            </div>
            <div class="input-box">
                {{ form.password(placeholder="Password", required="required") }}
                <i class='bx bxs-lock-alt'></i>
            </div>
            <div class="remember-forgot">
                <label>{{ form.remember }} Remember me</label>
                <a href="#"> Forgot Password? </a>
            </div>



            {{ form.submit(class="btn") }}
            <div class="register-link">
                <p>Don't have an account? <a href="{{ url_for('register') }}">Register</a></p>
            </div>

        </form>
    </div>    
</body>
</html>